 p{
   font-size: 25px;
 }

 /* width */
 ::-webkit-scrollbar {
   width: 5px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
   background: #f1f1f1;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #888;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }

 #squarefree {
   font-family: Helvetica;
   margin: 0 auto;
   background: #5dc4de;
   text-align: center;
   font-weight: 600;
   font-size: 15pt;
 }

 .bingotable {
   text-align: center;
   width: 800px;
   height: 800px;
   border-collapse: collapse;
   background: #ffffff;
 }

 .bingotable_container {
   margin: 5px auto;
 }

 .bingotable_container>.actions {
   text-align: right;
   /* right: 0px; */
   position: relative;
   z-index: 1;
   font-size: 20px;
   margin: 0 -12px -15px 0;

 }

 .action-item {
   display: inline;
   width: fit-content;
 }


 th,
 td {
   font-family: Helvetica;
   margin: 0 auto;
   text-align: center;
   border: 3px solid #000000;
   width: 20%;
   cursor: pointer;
 }

 .selected {
   color: #ffffff;
   background: #c93b3b;
 }

 .announce {
   position: fixed;
   /* Sit on top of the page content */
   display: none;
   /* Hidden by default */
   width: 100%;
   /* Full width (cover the whole page) */
   height: 100%;
   /* Full height (cover the whole page) */
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   /* Black background with opacity */
   z-index: 2;
   /* Specify a stack order in case you're using a different order for other elements */
   cursor: pointer;
   /* Add a pointer on hover */
 }

 .orange {
   color: #ffffff;
   background: #5982b6;
 }

 .announce p {
   text-align: center;
   font-size: 3em;
   color: #ffffff;
   z-index: -99;
   position: absolute;
   left: 37%;
   margin-left: -50px;
   top: 50%;
   margin-top: -50px;
 }

 /* The sidebar menu */
 .sidebar {
   z-index: 2;
   height: 100%;
   /* 100% Full-height */
   width: 0;
   /* 0 width - change this with JavaScript */
   position: fixed;
   /* Stay in place */
   z-index: 2;
   /* Stay on top */
   top: 0;
   left: 0;
   background-color: #111;
   /* Black*/
   overflow-x: hidden;
   /* Disable horizontal scroll */
   padding-top: 60px;
   /* Place content 60px from the top */
   transition: 0.5s;
   /* 0.5 second transition effect to slide in the sidebar */
 }

 /* The sidebar links */
 .sidebar p,
 .sidebar a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }

 /* When you mouse over the navigation links, change their color */
 .sidebar a:hover {
   color: #f1f1f1;
 }

 /* Position and style the close button (top right corner) */
 .sidebar .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }

 /* The button used to open the sidebar */
 .openbtn {
   font-size: 60px;
   cursor: pointer;
   color: #000000;
   padding: 15px;
   border: none;
   background-color: rgba(0, 0, 0, 0) !important;
   position: fixed;
   z-index: 1;
 }

 .openbtn:hover {
   color: #444;
 }

 .chat {
   height: 89%;
   overflow-y: scroll;
   background-color: #444;
 }

 .chatinner p {
   word-wrap: break-word;
   font-size: 18px;
 }

 #chatbox {

   /* bottom: 0px;
   position: absolute; */
   background-color: #fff;
   width: 100%;
 }

 .scrollable {
   /* height: 100px; */
   overflow-y: scroll;
 }

 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 #main {
   transition: margin-left .5s;
   /* If you want a transition effect */
   padding: 20px;
 }

 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
   .sidebar {
     padding-top: 15px;
   }

   .sidebar a {
     font-size: 18px;
   }
 }

 @media table and (max-width: 200px) {
   .html {
     background-color: #111;
   }
 }

 .group {
   position: relative;
   margin: 10em 0 45px 0;
 }

 input {
   font-size: 18px;
   padding: 10px 10px 10px 5px;
   display: block;
   width: 100%;
   border: none;
   border-bottom: 1px solid #757575;
 }

 input:focus {
   outline: none;
 }

 /* LABEL ======================================= */
 label {
   color: #999;
   font-size: 18px;
   font-weight: normal;
   position: absolute;
   pointer-events: none;
   left: 5px;
   top: 10px;
   transition: 0.2s ease all;
   -moz-transition: 0.2s ease all;
   -webkit-transition: 0.2s ease all;
 }

 /* active state */
 input:focus~label,
 input:valid~label {
   top: -20px;
   font-size: 14px;
   color: #007bff;
 }

 /* BOTTOM BARS ================================= */
 .bar {
   position: relative;
   display: block;
   width: 100%;
 }

 .bar:before,
 .bar:after {
   content: '';
   height: 2px;
   width: 0;
   bottom: 1px;
   position: absolute;
   background: #007bff;
   transition: 0.2s ease all;
   -moz-transition: 0.2s ease all;
   -webkit-transition: 0.2s ease all;
 }

 .bar:before {
   left: 50%;
 }

 .bar:after {
   right: 50%;
 }

 /* active state */
 input:focus~.bar:before,
 input:focus~.bar:after {
   width: 50%;
 }

 /* HIGHLIGHTER ================================== */
 .highlight {
   position: absolute;
   height: 60%;
   width: 100px;
   top: 25%;
   left: 0;
   pointer-events: none;
   opacity: 0.5;
 }

 /* active state */
 input:focus~.highlight {
   -webkit-animation: inputHighlighter 0.3s ease;
   -moz-animation: inputHighlighter 0.3s ease;
   animation: inputHighlighter 0.3s ease;
 }

 /* ANIMATIONS ================ */
 @-webkit-keyframes inputHighlighter {
   from {
     background: #007bff;
   }

   to {
     width: 0;
     background: transparent;
   }
 }

 @-moz-keyframes inputHighlighter {
   from {
     background: #007bff;
   }

   to {
     width: 0;
     background: transparent;
   }
 }

 @keyframes inputHighlighter {
   from {
     background: #007bff;
   }

   to {
     width: 0;
     background: transparent;
   }
 }
